<f:if condition="{job.description}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.description}</f:format.html>
</f:if>
<f:if condition="{job.benefits}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.benefits}</f:format.html>
</f:if>
<f:if condition="{job.educationRequirements}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.educationRequirements}</f:format.html>
</f:if>
<f:if condition="{job.experienceRequirements}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.experienceRequirements}</f:format.html>
</f:if>
<f:if condition="{job.qualifications}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.qualifications}</f:format.html>
</f:if>
<f:if condition="{job.responsibilities}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.responsibilities}</f:format.html>
</f:if>
<f:if condition="{job.skills}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.skills}</f:format.html>
</f:if>
<f:if condition="{job.specialCommitment}">
    <f:format.html parseFuncTSPath="lib.parseFunc">{job.specialCommitment}</f:format.html>
</f:if>