<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <be:link.newRecord table="tx_bwjobs_domain_model_jobtype" pid="{settings.storagePid}" class="btn btn-icon btn-default btn-sm"
                       title="{f:translate(key:'tx_bwjobs.create')}{f:translate(key:'tx_bwjobs_domain_model_jobtype')}">
        +
        <f:image src="EXT:core/Resources/Public/Icons/T3Icons/content/content-clock.svg" width="26" height="26" />
    </be:link.newRecord>
    <f:be.tableList tableName="tx_bwjobs_domain_model_jobtype"
                    fieldList="{0:'employment_type', 1:'description'}"
                    sortField="name"
                    storagePid="{settings.storagePid}"
                    recordsPerPage="10"
                    sortDescending="true"
                    clickTitleMode="edit"
    />
</f:section>
</html>